<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsF7LtUXDfIR-4jGXtI1ZcvydIq9RaHa4</string>
	<key>GCM_SENDER_ID</key>
	<string>893573966257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirstApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mobileappsauvignon</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileappsauvignon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893573966257:ios:210597ed3c8a72583bb590</string>
</dict>
</plist>